<html>
    <head></head>
    <body>
        <h1>두 수의 합 : <%=@sum%> </h1>
        <h1>두 수의 곱 : <%=@mul%> </h1>
        <h1>두 수의 차 : <%=@sub%> </h1>
        <h1>두 수의 나눗셈 : <%=@div%> </h1>
    </body>
</html>